.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    padding: 0 10px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    &__input{
        font-size: 18px;
    }
    &__actions{
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
}