.toolbar {
    position: absolute;
    top: $header-height;
    height: $toolbar-height;
    left: 0;
    right: 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 5px;
    user-select: none;
    &__button, &__select {
        @include button();
    }

    &__select {
        position: relative;
    }
}
